* {
    font-family: 'Wix Madefor Display', 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #f8dcbe;
}

a:hover {
    border-bottom: 1.5px solid #777777;
}

img {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
    align-self: auto;
    text-align: center;
}

#wrapper {
    grid-column: 1 / 9;
    padding: 20px;
    background-color: #0892A5;
}

#menu {
    grid-column: 9 / -1;
    padding: 20px;
    background-color: #BB7E5D;
}

#menu li {
    list-style-type: none;
    float: right;
    margin-right: 20px;
    line-height: 70px;
}

#hero-left {
    grid-column: 1 / 7;
}

#hero-right {
    grid-column: 7 / -1;
}

#middle-left {
    grid-column: 1 / 7;
}

#middle-right {
    grid-column: 7 / -1;
}

#bottom-left {
    grid-column: 1 / 7;
}

#bottom-right {
    grid-column: 7 / -1;
    background-color: red;
}

#footer-left {
    grid-column: 1 / 5;
    padding: 20px;
    background-color: #BB7E5D;
}

#footer-right {
    grid-column: 5 / -1;
    padding: 20px;
    background-color: #0892A5;
}

@media screen and (max-width: 672px) {
    .container {
        grid-column: span 1;
    }
}

@media screen and (max-width: 990px) {
    .container {
        grid-column: span 4;
    }
}

@media screen and (max-width: 1296px) {
    .container {
        grid-column: span 6;
    }
}