* {
    font-family: 'Wix Madefor Display', 'Lato', sans-serif;
}

#introduction {
    width: 100%;
}

#intro-heading {}

.hero-image {
    width: 100%;
}

#socials {}

#signup {
    line-height: 2em;
}

body {
    font-family: 'Wix Madefor Display';
}

header {
    font-family: 'Wix Madefor Display';
    letter-spacing: 4px;
}

.nav ul {
    text-decoration: none;
    list-style-type: none;
    float: right;
    margin-top: 0.5em;
    margin-right: 1em;
    color: inherit;
}

.nav ul:hover {
    border-bottom: 1px solid #777777;
}

footer {
    position: absolute;
    background-color: red;
}

#contact {
    width: 100%;
    background-color: green;
}