@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Wix+Madefor+Display&display=swap');

/* ///////
// ROOT //
/////// */

html {
  height: 100%;
  width: 100%;
}

* {
  --blue: #7899D4;
  --jade: #00A676;
  --grey: #565857;
  --eggplant: #734B5E;
  font-family: 'Wix Madefor Display', Lato, Sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

iframe {
  width: 80%;
  height: 500px;
  border: 3px solid var(--eggplant);
}

/* ////////
// ABOUT //
//////// */

.about-list {
  text-align: left;
}

.food img {
  margin: 10px 10px 10px 10px;
}

/* //////
// FAQ //
////// */

.accordion-item a {
  text-decoration: underline;
}

/* /////////
// FOOTER //
///////// */

.ft-lh-col {
  white-space: nowrap;
  background-color: var(--eggplant);
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;
}

.ft-lh-col i {
  font-size: 150%;
}

.ft-lh-col i:hover {
  color: white;
}

.ft-rh-col {
  white-space: nowrap;
  background-color: var(--eggplant);
  text-align: right;
  padding-top: 10px;
  padding-bottom: 20px;
}

.ft-rh-col-form {
  background-color: var(--eggplant);
  text-align: right;
  padding-top: 10px;
  padding-bottom: 20px;
}

.ft-rh-col a {
  text-decoration: none;
  color: white;
  background-color: var(--jade);
  text-transform: uppercase;
  font-size: 110%;
  border: 1px solid var(--jade);
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}

.ft-rh-col a:hover {
  border-color: var(--blue);
  background-color: var(--blue);
  color: var(--eggplant);
}

.ft-rh-col i {
  padding-left: 10px;
}

.ft-rh-col p {
  margin-top: 20px;
  margin-bottom: 0px;
}

/* ///////
// FORM //
/////// */

#signup {
  margin: 15px 10px 20px 10px;
}

.form-fieldset {
  margin: 10px;
  padding: 10px;
  border: 2px solid var(--eggplant);
  border-radius: 15px;
}

#form label {
  padding-right: 5px;
}

#form input {
  border: 1px solid var(--grey);
  border-radius: 5px;
  line-height: 20px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 5px;
  overflow: hidden;
}

#form li {
  list-style-type: none;
  margin: 0px 0px 0px 20px;
}

#form select {
  border: 1px solid var(--grey);
  border-radius: 5px;
}

#form textarea {
  border: 2px solid var(--grey);
  border-radius: 15px;
  margin: 0px 0px 20px 0px;
  padding: 10px;
  overflow: hidden;
  resize: none;
}

#form button {
  color: white;
  background-color: var(--jade);
  text-transform: uppercase;
  font-size: 110%;
  border: 1px solid var(--jade);
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  margin-left: 20px;
}

#form button:hover {
  border-color: var(--blue);
  background-color: var(--blue);
  color: var(--eggplant);
}

/* //////////
// GALLERY //
////////// */

.gallery div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.end-gallery {
  display: table;
}

.gallery-form {
  width: 250px;
}

/* ///////
// HELP //
/////// */

.faq-intro {
  padding: 10px;
}

.accordion {
  padding-bottom: 10px;
}

/* ////////
// INDEX //
//////// */

.main-content {
  margin: 10px;
  text-align: center;
}

#main-heading {
  font-weight: 600;
  color: orange;
}

.content-block {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.content-block:hover {
  border-radius: 20px;
  border-bottom: 1px solid var(--grey);
}

/* /////////
// NAVBAR //
///////// */

.navbar {
  margin-top: 0px;
}

.navbar-brand {
  letter-spacing: 1.5px;
}

.navbar-brand i {
  padding: 0px 10px 0px 20px;
}

.navbar-toggler {
  margin: 0px 5px 0px 0px;
}

/* ///////
// PETS //
/////// */

table {
  margin-top: 10px;
  border-collapse: collapse;
  border-color: var(--grey);
  width: 100%;
}

table a:hover {
  border-bottom: 1px solid var(--grey);
}

td,
th {
  border: 1px solid var(--grey);
  text-align: left;
  padding: 8px;
}

table h1,
h2,
h3, h4, h5, h5, h6 {
  display: inline;
}

table th a {
  float: right;
}

tr h1, h2, h3, h4, h5, h6 {
  display: inline;
}

.no-bullets {
  list-style-type: none;
}

.carousel-img {
  height: 200px;
  width: 300px;
  overflow: hidden;
}

/* //////////////
// BREAKPOINTS //
////////////// */

@media only screen and (max-width: 576px) {

  footer {
    font-size: .8em;
  }

  .ft-lh-col i {
    font-size: 110%;
  }

  .ft-rh-col a {
    font-size: 80%;
  }
}

@media screen and (min-width: 576px) {
  .content-block {
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {

  .carousel-img {
    height: 200px;
    width: 300px;
    overflow: hidden;}
}

@media screen and (min-width: 992px) {

  .carousel-img {
    height: 400px;
    width: 600px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {

  .carousel-img {
    height: 500px;
    width: 1000px;
    overflow: hidden;
    }
}